.app-section {
    .app-content {
        .toggle-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: rgb(159, 242, 159);
            color: white;
            border: 0;
            padding: 8px;
            border-radius: 4px;
            cursor: pointer;
        }
    }

    .modal-content {
        width: 400px;
        height: 400px;
        background: rgb(5, 5, 29);
        .btns-block {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            margin-top: 60%;
            .btn-close {
                padding: 8px;
                background: white;
                border: 0;
                border-radius: 4px;
            }
        }
    }
}
